/*--------------------------------------------------------------
# Vars
--------------------------------------------------------------*/
:root {
  /* Colour Palette  */
  --unpure-white: #e0e3d8;
  --background-dark: #040a0c;
  --background-light: #061d28;
  --background-lighter: #085062;

  --muted-green: #779071;
  --mid-green: #5e6c44;
  --dark-green: #35543d;

  --vivid-orange: #ef5417;
  --light-orange: #eca124;
  --lighter-orange: #cc8f2b;

  /* Specific Cases */
  --job-pos: var(--lighter-orange);

  --social-links: var(--dark-green);
  --social-links-hover: var(--mid-green);

  --proj-company: var(--lighter-orange);
  --highlight-header: var(--unpure-white);
  --highlight-header-2: var(--lighter-orange);
  --project-tags: var(--lighter-orange);

  --skill-icons: var(--light-orange);

  --links: var(--mid-green);
  --links-hover: var(--muted-green);

  --checkit-button: var(--light-orange);
  --tldr-button: var(--light-orange);
  --project-header: var(--lighter-orange);

  --edu-header: var(--light-orange);
  --edu-icon: var(--light-orange);
  --edu-header-2: var(--lighter-orange);

  --filter-hover: var(--dark-green);

  --end-header: var(--lighter-orange);
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: var(--unpure-white);
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: var(--background-dark);
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
}

body#secret {
  min-height: 100vh;
}

body#secret::before {
  background-image: url(../img/rocks.jpg);
  background-repeat: repeat;
  background-size: auto;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: var(--links);
}

a:hover {
  color: var(--links-hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.7;
}

/* Footer */
.divider {
  height: 2px;
  width: 80%;
  background: linear-gradient(90deg, var(--background-dark), var(--unpure-white), var(--background-dark));
  margin: 20px 0px;
}

footer {
  margin-top: 60px;
  padding: 10px;
  justify-content: center;
}

footer p {
  padding: 10px 0px;
  text-align: center;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0s;
}

#header h1 {
  font-size: 48px;
  margin-top: 0px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
  color: var(--unpure-white);
  line-height: 1;
  display: inline-block;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }

  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  margin-top: 35px;
}

.nav-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li+li {
  margin-left: 30px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: var(--unpure-white);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.nav-menu a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--mid-green);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .active>a:before {
  visibility: visible;
  width: 25px;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
  color: var(--vivid-orange);
  text-decoration: none;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle .icon {
  fill: var(--unpure-white);
  width: 30px;
  height: 30px;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7);
  transition: ease-in-out 0s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  border: 2px solid rgba(255, 255, 255, 0.12);
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: var(--unpure-white);
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
  color: var(--dark-green);
  text-decoration: none;
}

.mobile-nav-overlay {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: var(--unpure-white);
}

/* Header Top */
#header.header-top {
  height: 90px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: var(--background-light);
}

#header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 36px;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .nav-menu {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  z-index: 2;
}

section.section-show {
  top: 70px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 0px;
}

section .container {
  background: rgba(0, 0, 0, 0);
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 17px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--unpure-white);
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--unpure-white);
  margin: 4px 10px;
}

/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/
.about-me .section-title {
  margin-top: 2%;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

.about-me .content h1 {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.about-me #job-position h2 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  line-height: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--job-pos);
  font-family: "Poppins", sans-serif;
}

.about-me #about-blurb {
  margin-bottom: 30px;
  margin-right: 30px;
}

.about-me #about-blurb-p2 {
  margin-right: 30px;
}

.about-me #social-links {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.about-me #social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--social-links);
  color: var(--unpure-white);
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.about-me #social-links a:hover {
  background: var(--social-links-hover);
}

.about-me #social-links .icon {
  fill: var(--unpure-white);
  width: 30px;
  height: 30px;
}

.about-me #social-links .icon-curriculum {
  width: 20px;
  height: 20px;
}

.about-me #profile-pic {
  border-radius: 3%;
}

/* Toggle Switch */
#toggle-switch label {
  width: 80px;
  height: 40px;
  position: relative;
  display: block;
  background: var(--unpure-white);
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.6),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
  margin-top: 15px;

  &:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 10px;
    background: linear-gradient(180deg, var(--lighter-orange), var(--light-orange));
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  svg {
    position: absolute;
    width: 26px;
    top: 8px;
    z-index: 100;

    &.icon-hair {
      left: 12px;
      fill: var(--unpure-white);
      transition: 0.3s;
    }

    &.icon-bald {
      left: 46px;
      fill: var(--dark-green);
      transition: 0.3s;
    }
  }
}

#toggle-switch input {
  width: 0;
  height: 0;
  visibility: hidden;

  &:checked+label {
    background: var(--background-dark);

    &:after {
      left: 74px;
      transform: translateX(-100%);
      background: linear-gradient(180deg, var(--background-lighter), var(--background-light));
    }

    svg {
      &.icon-hair {
        fill: var(--dark-green);
      }

      &.icon-bald {
        fill: var(--unpure-white);
      }
    }
  }
}

/* Img Hover */
#hovereffect .overlay {
  text-align: center;
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

#hovereffect.alt:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#hovereffect img {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

#hovereffect.alt:hover img {
  filter: brightness(0.3);
  -webkit-filter: brightness(0.3);
}

#hovereffect p {
  padding: 7em 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

#hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*--------------------------------------------------------------
# Project Highlights
--------------------------------------------------------------*/
.highlights .section-title {
  margin-bottom: 3%;
}

.highlights .icon-box {
  background: var(--background-light);
  padding: 0px 0px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.highlights .icon-box p,
.highlights .icon-box h6,
.highlights .icon-box h5,
.highlights .icon-box ul {
  text-align: left;
}

.highlights .icon-box p,
.highlights .icon-box h6,
.highlights .icon-box h5 {
  padding-left: 15px;
}

.highlights .icon-box p.proj-company {
  margin: 5px 0px;
  font-size: 14px;
  color: var(--proj-company);
}

.highlights .icon-box h5 {
  padding-bottom: 10px;
  color: var(--highlight-header);
}

.highlights .icon-box h6 {
  color: var(--highlight-header-2);
}

.highlights .icon-box ul {
  font-size: 14px;
  padding-right: 15px;
}

.highlights .icon-box:hover {
  background: var(--background-lighter);
}

.highlights .project-tags {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  flex: 1;
}

.highlights .project-tag {
  background: var(--project-tags);
  border-radius: 10px;
  margin: 10px 20px;
  margin-top: 0px;
}

.highlights .project-tag:hover {
  background: var(--project-tags);
}

.highlights .project-tag p {
  padding-right: 15px;
  margin-bottom: 0px;
  text-align: center;
}

/*--------------------------------------------------------------
# Project Lightboxes aka Project Details
--------------------------------------------------------------*/
.lightbox-details .lightbox-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.lightbox-details .check-proj-link {
  font-size: 16px;
  padding: 16px 32px;
  margin: 4px 2px;
  border: 2px solid var(--checkit-button);
  border-radius: 10px;
  transition-duration: 0.4s;
  color: var(--unpure-white);
}

/* Disabled button used when there is propriatery code, permitting no access naturally. */
.lightbox-details button.check-proj-link {
  color: grey;
  background-color: rgba(255, 255, 255, 0.0);
}

.lightbox-details button.check-proj-link:hover {
  background-color: rgba(200, 200, 200, 0.1);
}

.lightbox-details .check-proj-link:hover {
  background-color: var(--checkit-button);
}

.lightbox-details .lightbox-sub-header {
  padding-bottom: 15px;
}

/* TLDR Button */
.lightbox-details .lightbox-sub-header .tldr-button {
  color: var(--unpure-white);
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.0);

}

.lightbox-details .lightbox-sub-header .tldr-button:hover {
  color: var(--tldr-button);

  svg {
    fill: var(--tldr-button);
  }
}

.lightbox-details .lightbox-sub-header .icon {
  fill: var(--unpure-white);
  width: 30px;
  height: 30px;
}

/* Body */
.lightbox-details h6 {
  color: var(--project-header);
  font-size: 20px;
  padding-bottom: 5px;
}

.lightbox-details .proj-video {
  padding-bottom: 20px;
}

.lightbox-details .divider {
  margin-bottom: 30px;
}

.lightbox-details #tldr {
  padding-top: 30px;
}

.lightbox-details .project-tags {
  padding: 20px 0px;
  padding-top: 30px;
}

.lightbox-details .project-tag {
  background: var(--project-tags);
  border-radius: 10px;
  margin: 10px 20px;
  margin-top: 0px;
}

.lightbox-details .project-tag p {
  margin-bottom: 0px;
  text-align: center;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .section-title {
  margin-bottom: 3%;
}

.skills .icon-box {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  background: var(--background-light);
}

.skills .icon-box .icon {
  padding-right: 10px;
  fill: var(--skill-icons);
  width: 50px;
  height: 50px;
}

.skills .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.skills .icon-box:hover {
  background: var(--background-lighter);
}

/*--------------------------------------------------------------
# Education
--------------------------------------------------------------*/
.edu .section-title {
  margin-top: 2%;
}

.edu .icon-box {
  text-align: left;
  background: var(--background-light);
  padding: 40px 40px;
  transition: all ease-in-out 0.3s;
  margin: 20px 0px;
}

.edu .icon-box:hover {
  background: var(--background-lighter);
}

.edu .icon-box h4 {
  color: var(--edu-header);
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.edu .icon {
  fill: var(--unpure-white);
  width: 30px;
  height: 30px;
}

.edu .icon:hover {
  fill: var(--edu-icon);
}

.edu .icon-box .establishment {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--edu-header-2);
}

.edu .icon-box .description {
  padding-left: 24px;
}

/*--------------------------------------------------------------
# Projetcs
--------------------------------------------------------------*/
.projects .section-title {
  margin-top: 2%;
}

.projects .dark-ages {
  margin-bottom: 5%;
}

.projects .projects-filters {
  margin: 0 auto 15px auto;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.projects .projects-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 0 3px 10px 3px;
  border-radius: 4px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

.projects .projects-filters li:hover,
.projects .projects-filters li.filter-active {
  background: var(--filter-hover);
}

.projects .projects-item {
  margin-bottom: 30px;
}

.projects .projects-item h4 {
  text-align: center;
}

.projects .projects-item .icon {
  fill: var(--unpure-white);
  width: 30px;
  height: 30px;
}

/* Project Wrap */
.projects .projects-wrap {
  position: relative;
}

.projects .projects-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  opacity: 0;
}

.projects .projects-wrap .projects-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects .projects-wrap .projects-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid var(--unpure-white);
  border-left: 3px solid var(--unpure-white);
  transition: all 0.5s ease 0s;
}

.projects .projects-wrap .projects-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid var(--unpure-white);
  border-right: 3px solid var(--unpure-white);
  transition: all 0.5s ease 0s;
}

.projects .projects-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.projects .projects-wrap:hover .projects-info {
  opacity: 1;
}

.projects .projects-wrap:hover .projects-info::before {
  top: 15px;
  left: 15px;
}

.projects .projects-wrap:hover .projects-info::after {
  bottom: 15px;
  right: 15px;
}

.projects .projects-wrap p {
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  text-align: center;
}

.projects .projects-wrap svg {
  position: absolute;
  bottom: 25px;
}

/*--------------------------------------------------------------
# The End
--------------------------------------------------------------*/
.end .section-title {
  margin-top: 2%;
  margin-bottom: 3%;
}

.end .section-title h2::after {
  content: "";
  width: 1px;
  height: 1px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.0);
  margin: 4px 1px;
}

.end .quote-gallery img {
  border-radius: 3%;
  margin-bottom: 40px;
}

.end .end-title h2 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  line-height: 24px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--end-header);
  font-family: "Poppins", sans-serif;
}

.end .blurb-section {
  margin-bottom: 8ex;
}

/*--------------------------------------------------------------
# Secret
--------------------------------------------------------------*/
#secret .container.secret {
  padding-left: 96px;
  padding-right: 96px;
}

#secret .main-col {
  background-color: black;
}

#secret .message h1{
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  font-size: 1.5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-left: 12vw;
  margin-right: 12vw;
}

#secret .moblin img{
  padding-bottom: 1vw;
}

#secret .rupee-button{
  background-image: url(../img/rupee.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  border: none;
  width: 3vw;
  height: 3vw;
}

#secret .rupee{
  padding-bottom: 8vw;
}