<div class="col-md-5 mt-4 mt-md-0 icon-box">
  <a href="{data_1}" class="stretched-link venobox" data-vbtype="iframe">
    <img src="{data_2}" class="img-fluid" alt="{data_3}">
  </a>
  <p class="proj-company"><em>{data_4}</em></p>
  <h5>{data_0}</h5>
  <ul>
    <li><b>Year:</b> {data_5}</li>
    <li><b>Team Size:</b> {data_6}</li>
    <li><b>Time:</b> {data_7}</li>
    <li><b>Employment Type:</b> {data_8}</li>
  </ul>
  <h6>Description</h6>
  <ul>
    {data_9}
  </ul>

  <div class="project-tags">
    <div class="row">
      {data_10}
    </div>
  </div>
</div>