<div class="col-lg-4 col-md-6 projects-item proj-item{data_1} {data_2}">
  <h4 class="proj-name">{data_0}</h4>
  <div class="projects-wrap">
    <img src="{data_3}" class="img-fluid" alt="{data_4}">
    <div class="projects-info">
      <div class="projects-links">
        <p>{data_5}</p>
        <a href="{data_6}" class="stretched-link venobox" data-vbtype="iframe">
          <svg class="icon icon-zoom-in">
            <use xlink:href="assets/icons/icons.svg#icon-zoom-in"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>