<div class="col-lg-4 col-md-6 projects-item proj-item{data_1} {data_2}">
  <h4 class="proj-name" data-custom-order="{data_3}" data-chrono-order="{data_4}">{data_0}</h4>
  <div class="projects-wrap">
    <img src="{data_5}" class="img-fluid" alt="{data_6}">
    <div class="projects-info">
      <div class="projects-links">
        <p>{data_7}</p>
        <a href="{data_8}" class="stretched-link venobox" data-vbtype="iframe">
          <svg class="icon icon-zoom-in">
            <use xlink:href="assets/icons/icons.svg#icon-zoom-in"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>